<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AutomationTestSuite-NeouWeb">
<test name="Account function">
		<classes>
			<class name="neou.AccountPage">
			<class name="neou.HomePageNoLogin">
			</class>
			</class>

		</classes>
	</test>

</suite>